USE [master]
GO
/****** Object:  Database [SevDB]    Script Date: 2/11/2022 6:32:19 μμ ******/
CREATE DATABASE [SevDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SevDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SevDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SevDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SevDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SevDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SevDB]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 2/11/2022 6:32:19 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [nchar](50) NULL,
	[TEACHERID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentCourse]    Script Date: 2/11/2022 6:32:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentCourse](
	[studentId] [int] NOT NULL,
	[courseId] [int] NOT NULL,
 CONSTRAINT [PK_StudentCourse] PRIMARY KEY CLUSTERED 
(
	[studentId] ASC,
	[courseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 2/11/2022 6:32:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [nchar](50) NULL,
	[LASTNAME] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHERS]    Script Date: 2/11/2022 6:32:20 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHERS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [nchar](50) NULL,
	[LASTNAME] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_COURSES_DESCRIPTION]    Script Date: 2/11/2022 6:32:20 μμ ******/
CREATE NONCLUSTERED INDEX [IX_COURSES_DESCRIPTION] ON [dbo].[COURSES]
(
	[DESCRIPTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentCourse_courseId]    Script Date: 2/11/2022 6:32:20 μμ ******/
CREATE NONCLUSTERED INDEX [IX_StudentCourse_courseId] ON [dbo].[StudentCourse]
(
	[courseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentCourse_studentId]    Script Date: 2/11/2022 6:32:20 μμ ******/
CREATE NONCLUSTERED INDEX [IX_StudentCourse_studentId] ON [dbo].[StudentCourse]
(
	[studentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_STUDENTS_LASTNAME]    Script Date: 2/11/2022 6:32:20 μμ ******/
CREATE NONCLUSTERED INDEX [IX_STUDENTS_LASTNAME] ON [dbo].[STUDENTS]
(
	[LASTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TEACHERS_LASTNAME]    Script Date: 2/11/2022 6:32:20 μμ ******/
CREATE NONCLUSTERED INDEX [IX_TEACHERS_LASTNAME] ON [dbo].[TEACHERS]
(
	[LASTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_ToTEACHERS] FOREIGN KEY([TEACHERID])
REFERENCES [dbo].[TEACHERS] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_ToTEACHERS]
GO
ALTER TABLE [dbo].[StudentCourse]  WITH CHECK ADD  CONSTRAINT [FK_StudentCourse_ToCOURSES] FOREIGN KEY([courseId])
REFERENCES [dbo].[COURSES] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentCourse] CHECK CONSTRAINT [FK_StudentCourse_ToCOURSES]
GO
ALTER TABLE [dbo].[StudentCourse]  WITH CHECK ADD  CONSTRAINT [FK_StudentCourse_ToSTUDENTS] FOREIGN KEY([studentId])
REFERENCES [dbo].[STUDENTS] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentCourse] CHECK CONSTRAINT [FK_StudentCourse_ToSTUDENTS]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [CK_COURSES_DESCRIPTION] CHECK  ((len([DESCRIPTION])>=(4)))
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [CK_COURSES_DESCRIPTION]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [CK_STUDENTS_FIRSTNAME] CHECK  ((len([FIRSTNAME])>=(4)))
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [CK_STUDENTS_FIRSTNAME]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [CK_STUDENTS_LASTNAME] CHECK  ((len([LASTNAME])>=(4)))
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [CK_STUDENTS_LASTNAME]
GO
ALTER TABLE [dbo].[TEACHERS]  WITH CHECK ADD  CONSTRAINT [CK_TEACHERS_FIRSTNAME] CHECK  ((len([FIRSTNAME])>=(4)))
GO
ALTER TABLE [dbo].[TEACHERS] CHECK CONSTRAINT [CK_TEACHERS_FIRSTNAME]
GO
ALTER TABLE [dbo].[TEACHERS]  WITH CHECK ADD  CONSTRAINT [CK_TEACHERS_LASTNAME] CHECK  ((len([LASTNAME])>=(4)))
GO
ALTER TABLE [dbo].[TEACHERS] CHECK CONSTRAINT [CK_TEACHERS_LASTNAME]
GO
USE [master]
GO
